//colors
$white: #ffffff;
$black: #000000;
$grey: 	#808080;
$light-blue: #8ec5fc;
$light-pink: #e0c3fc;
$dark-grey: #3a6073;
$light-black: #16222a;

//backgrounds
$modal-background: rgba(0,0,0,0.4);

//screen size
$for-tablet: 612px;
$for-desktope: 1024px;